=begin
#FEVER Retrieval

#The multimodal media database. Images, video, audio, office documents, and LiDAR in one table: hybrid vector + full-text search, dedupe, seek-to-moment video hits, whisper transcript spans, collection grouping, and asset-to-asset attachments. Tenancy, scale, and isolation are automatic; the tenant is taken from the API key.

The version of the OpenAPI document: 0.4.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module FeverClient
  class CorpusApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Corpus composition: per-kind counts and top autotags
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id 
    # @return [CorpusStats]
    def corpus_stats(opts = {})
      data, _status_code, _headers = corpus_stats_with_http_info(opts)
      data
    end

    # Corpus composition: per-kind counts and top autotags
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id 
    # @return [Array<(CorpusStats, Integer, Hash)>] CorpusStats data, response status code and response headers
    def corpus_stats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CorpusApi.corpus_stats ...'
      end
      # resource path
      local_var_path = '/v1/corpus'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'customer_id'] = opts[:'customer_id'] if !opts[:'customer_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CorpusStats'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CorpusApi.corpus_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CorpusApi#corpus_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
