=begin
#FEVER Retrieval

#The multimodal media database. Images, video, and audio in one table: hybrid vector + full-text search, dedupe, seek-to-moment video hits, whisper transcript spans. Tenancy, scale, and isolation are automatic; the tenant is taken from the API key.

The version of the OpenAPI document: 0.3.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module FeverClient
  class DuplicatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Find near-duplicate media clusters for a customer
    # Find near-duplicate clusters. Scoped to one customer, this reads the edge set maintained at ingest (millisecond answers; edges exist down to cosine 0.80). An admin key with no customer_id scans live across all customers; passing customer_ids narrows that live scan to a handful of accounts. Both admin shapes see cross-customer duplicates. No delete or keep recommendation is made: the clusters are yours to act on.
    # @param duplicates_request [DuplicatesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DuplicatesResponse]
    def find_duplicates(duplicates_request, opts = {})
      data, _status_code, _headers = find_duplicates_with_http_info(duplicates_request, opts)
      data
    end

    # Find near-duplicate media clusters for a customer
    # Find near-duplicate clusters. Scoped to one customer, this reads the edge set maintained at ingest (millisecond answers; edges exist down to cosine 0.80). An admin key with no customer_id scans live across all customers; passing customer_ids narrows that live scan to a handful of accounts. Both admin shapes see cross-customer duplicates. No delete or keep recommendation is made: the clusters are yours to act on.
    # @param duplicates_request [DuplicatesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuplicatesResponse, Integer, Hash)>] DuplicatesResponse data, response status code and response headers
    def find_duplicates_with_http_info(duplicates_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicatesApi.find_duplicates ...'
      end
      # verify the required parameter 'duplicates_request' is set
      if @api_client.config.client_side_validation && duplicates_request.nil?
        fail ArgumentError, "Missing the required parameter 'duplicates_request' when calling DuplicatesApi.find_duplicates"
      end
      # resource path
      local_var_path = '/v1/duplicates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(duplicates_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicatesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicatesApi.find_duplicates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicatesApi#find_duplicates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Suggest a duplicate-detection threshold from this customer's edge cosine distribution
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id 
    # @return [Object]
    def suggested_dedup_threshold(opts = {})
      data, _status_code, _headers = suggested_dedup_threshold_with_http_info(opts)
      data
    end

    # Suggest a duplicate-detection threshold from this customer&#39;s edge cosine distribution
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def suggested_dedup_threshold_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DuplicatesApi.suggested_dedup_threshold ...'
      end
      # resource path
      local_var_path = '/v1/duplicates/suggested-threshold'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'customer_id'] = opts[:'customer_id'] if !opts[:'customer_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DuplicatesApi.suggested_dedup_threshold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DuplicatesApi#suggested_dedup_threshold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
