=begin
#FEVER Retrieval

#The multimodal media database. Images, video, and audio in one table: hybrid vector + full-text search, dedupe, seek-to-moment video hits, whisper transcript spans. Tenancy, scale, and isolation are automatic; the tenant is taken from the API key.

The version of the OpenAPI document: 0.3.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module FeverClient
  class ExportApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Export the tenant's vectors and metadata to S3
    # @param export_request [ExportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ExportResult]
    def export_tenant(export_request, opts = {})
      data, _status_code, _headers = export_tenant_with_http_info(export_request, opts)
      data
    end

    # Export the tenant&#39;s vectors and metadata to S3
    # @param export_request [ExportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExportResult, Integer, Hash)>] ExportResult data, response status code and response headers
    def export_tenant_with_http_info(export_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExportApi.export_tenant ...'
      end
      # verify the required parameter 'export_request' is set
      if @api_client.config.client_side_validation && export_request.nil?
        fail ArgumentError, "Missing the required parameter 'export_request' when calling ExportApi.export_tenant"
      end
      # resource path
      local_var_path = '/v1/export'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(export_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ExportResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ExportApi.export_tenant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExportApi#export_tenant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Import vectors and metadata from a previous FEVER export in S3
    # @param import_request [ImportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ImportResult]
    def import_tenant(import_request, opts = {})
      data, _status_code, _headers = import_tenant_with_http_info(import_request, opts)
      data
    end

    # Import vectors and metadata from a previous FEVER export in S3
    # @param import_request [ImportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportResult, Integer, Hash)>] ImportResult data, response status code and response headers
    def import_tenant_with_http_info(import_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExportApi.import_tenant ...'
      end
      # verify the required parameter 'import_request' is set
      if @api_client.config.client_side_validation && import_request.nil?
        fail ArgumentError, "Missing the required parameter 'import_request' when calling ExportApi.import_tenant"
      end
      # resource path
      local_var_path = '/v1/import'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(import_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ImportResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ExportApi.import_tenant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExportApi#import_tenant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
