=begin
#FEVER Retrieval

#The multimodal media database. Images, video, and audio in one table: hybrid vector + full-text search, dedupe, seek-to-moment video hits, whisper transcript spans. Tenancy, scale, and isolation are automatic; the tenant is taken from the API key.

The version of the OpenAPI document: 0.3.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module FeverClient
  class IngestApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Ingest one or many media items
    # Throw 1..N media items over the wall. Small inline batches are embedded and indexed synchronously and return blob ids; large batches or an s3:// source return a Job you poll at /v1/jobs/{id}. Tenant is taken from the API key.
    # @param ingest_request [IngestRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization 
    # @return [IngestResult]
    def ingest_media(ingest_request, opts = {})
      data, _status_code, _headers = ingest_media_with_http_info(ingest_request, opts)
      data
    end

    # Ingest one or many media items
    # Throw 1..N media items over the wall. Small inline batches are embedded and indexed synchronously and return blob ids; large batches or an s3:// source return a Job you poll at /v1/jobs/{id}. Tenant is taken from the API key.
    # @param ingest_request [IngestRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization 
    # @return [Array<(IngestResult, Integer, Hash)>] IngestResult data, response status code and response headers
    def ingest_media_with_http_info(ingest_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IngestApi.ingest_media ...'
      end
      # verify the required parameter 'ingest_request' is set
      if @api_client.config.client_side_validation && ingest_request.nil?
        fail ArgumentError, "Missing the required parameter 'ingest_request' when calling IngestApi.ingest_media"
      end
      # resource path
      local_var_path = '/v1/media'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ingest_request)

      # return_type
      return_type = opts[:debug_return_type] || 'IngestResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IngestApi.ingest_media",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IngestApi#ingest_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
