=begin
#FEVER Retrieval

#The multimodal media database. Images, video, and audio in one table: hybrid vector + full-text search, dedupe, seek-to-moment video hits, whisper transcript spans. Tenancy, scale, and isolation are automatic; the tenant is taken from the API key.

The version of the OpenAPI document: 0.3.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module FeverClient
  class KeysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Mint an API key for this appliance
    # @param create_key_request [CreateKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [KeyReveal]
    def create_key(create_key_request, opts = {})
      data, _status_code, _headers = create_key_with_http_info(create_key_request, opts)
      data
    end

    # Mint an API key for this appliance
    # @param create_key_request [CreateKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(KeyReveal, Integer, Hash)>] KeyReveal data, response status code and response headers
    def create_key_with_http_info(create_key_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.create_key ...'
      end
      # verify the required parameter 'create_key_request' is set
      if @api_client.config.client_side_validation && create_key_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_key_request' when calling KeysApi.create_key"
      end
      # resource path
      local_var_path = '/v1/keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_key_request)

      # return_type
      return_type = opts[:debug_return_type] || 'KeyReveal'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['adminToken']

      new_options = opts.merge(
        :operation => :"KeysApi.create_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#create_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List this appliance's API keys
    # @param [Hash] opts the optional parameters
    # @return [Array<ApiKey>]
    def list_keys(opts = {})
      data, _status_code, _headers = list_keys_with_http_info(opts)
      data
    end

    # List this appliance&#39;s API keys
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ApiKey>, Integer, Hash)>] Array<ApiKey> data, response status code and response headers
    def list_keys_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.list_keys ...'
      end
      # resource path
      local_var_path = '/v1/keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ApiKey>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['adminToken']

      new_options = opts.merge(
        :operation => :"KeysApi.list_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#list_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke an API key
    # @param key_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def revoke_key(key_id, opts = {})
      data, _status_code, _headers = revoke_key_with_http_info(key_id, opts)
      data
    end

    # Revoke an API key
    # @param key_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def revoke_key_with_http_info(key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.revoke_key ...'
      end
      # verify the required parameter 'key_id' is set
      if @api_client.config.client_side_validation && key_id.nil?
        fail ArgumentError, "Missing the required parameter 'key_id' when calling KeysApi.revoke_key"
      end
      # resource path
      local_var_path = '/v1/keys/{key_id}/revoke'.sub('{key_id}', CGI.escape(key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['adminToken']

      new_options = opts.merge(
        :operation => :"KeysApi.revoke_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#revoke_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
