=begin
#FEVER Retrieval

#The multimodal media database. Images, video, and audio in one table: hybrid vector + full-text search, dedupe, seek-to-moment video hits, whisper transcript spans. Tenancy, scale, and isolation are automatic; the tenant is taken from the API key.

The version of the OpenAPI document: 0.3.0

Generated by: https://openapi-generator.tech
Generator version: 7.25.0

=end

require 'cgi'

module FeverClient
  class MediaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Fetch an indexed media item's bytes (images normalized to JPEG)
    # Return the bytes for a blob_id (JPEG, normalized to max_dim; 0 = raw bytes). Scoped keys can only fetch their own customer's items; other customers' blobs are a 404 (never an existence leak).  ?waveform=1 renders an audio blob's waveform as a PNG (ffmpeg showwavespic) so clients can show a real visual for audio hits without decoding the clip in the browser.
    # @param blob_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_dim  (default to 1280)
    # @option opts [Integer] :waveform  (default to 0)
    # @option opts [String] :authorization 
    # @return [Object]
    def get_media_bytes(blob_id, opts = {})
      data, _status_code, _headers = get_media_bytes_with_http_info(blob_id, opts)
      data
    end

    # Fetch an indexed media item&#39;s bytes (images normalized to JPEG)
    # Return the bytes for a blob_id (JPEG, normalized to max_dim; 0 &#x3D; raw bytes). Scoped keys can only fetch their own customer&#39;s items; other customers&#39; blobs are a 404 (never an existence leak).  ?waveform&#x3D;1 renders an audio blob&#39;s waveform as a PNG (ffmpeg showwavespic) so clients can show a real visual for audio hits without decoding the clip in the browser.
    # @param blob_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_dim  (default to 1280)
    # @option opts [Integer] :waveform  (default to 0)
    # @option opts [String] :authorization 
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_media_bytes_with_http_info(blob_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.get_media_bytes ...'
      end
      # verify the required parameter 'blob_id' is set
      if @api_client.config.client_side_validation && blob_id.nil?
        fail ArgumentError, "Missing the required parameter 'blob_id' when calling MediaApi.get_media_bytes"
      end
      # resource path
      local_var_path = '/v1/media/{blob_id}/bytes'.sub('{blob_id}', CGI.escape(blob_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'max_dim'] = opts[:'max_dim'] if !opts[:'max_dim'].nil?
      query_params[:'waveform'] = opts[:'waveform'] if !opts[:'waveform'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'image/jpeg', 'image/png']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MediaApi.get_media_bytes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#get_media_bytes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Everything known about a blob: annotations, EXIF summary, media kind, derived artifact counts
    # Unified record for a blob_id. Scoped keys can only read their own customer's blobs; other customers' blobs are a 404 (never an existence leak). Admin keys may narrow with ?customer_id=.
    # @param blob_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id 
    # @option opts [String] :authorization 
    # @return [MediaInfo]
    def get_media_info(blob_id, opts = {})
      data, _status_code, _headers = get_media_info_with_http_info(blob_id, opts)
      data
    end

    # Everything known about a blob: annotations, EXIF summary, media kind, derived artifact counts
    # Unified record for a blob_id. Scoped keys can only read their own customer&#39;s blobs; other customers&#39; blobs are a 404 (never an existence leak). Admin keys may narrow with ?customer_id&#x3D;.
    # @param blob_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id 
    # @option opts [String] :authorization 
    # @return [Array<(MediaInfo, Integer, Hash)>] MediaInfo data, response status code and response headers
    def get_media_info_with_http_info(blob_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.get_media_info ...'
      end
      # verify the required parameter 'blob_id' is set
      if @api_client.config.client_side_validation && blob_id.nil?
        fail ArgumentError, "Missing the required parameter 'blob_id' when calling MediaApi.get_media_info"
      end
      # resource path
      local_var_path = '/v1/media/{blob_id}'.sub('{blob_id}', CGI.escape(blob_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'customer_id'] = opts[:'customer_id'] if !opts[:'customer_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MediaInfo'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MediaApi.get_media_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#get_media_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Ingest capability: supported extensions per media family
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization 
    # @return [MediaFormats]
    def list_media_formats(opts = {})
      data, _status_code, _headers = list_media_formats_with_http_info(opts)
      data
    end

    # Ingest capability: supported extensions per media family
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization 
    # @return [Array<(MediaFormats, Integer, Hash)>] MediaFormats data, response status code and response headers
    def list_media_formats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.list_media_formats ...'
      end
      # resource path
      local_var_path = '/v1/media/formats'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MediaFormats'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MediaApi.list_media_formats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#list_media_formats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sampled video frames for a parent blob
    # @param blob_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id 
    # @option opts [String] :authorization 
    # @return [Array<MediaFrame>]
    def list_media_frames(blob_id, opts = {})
      data, _status_code, _headers = list_media_frames_with_http_info(blob_id, opts)
      data
    end

    # Sampled video frames for a parent blob
    # @param blob_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id 
    # @option opts [String] :authorization 
    # @return [Array<(Array<MediaFrame>, Integer, Hash)>] Array<MediaFrame> data, response status code and response headers
    def list_media_frames_with_http_info(blob_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.list_media_frames ...'
      end
      # verify the required parameter 'blob_id' is set
      if @api_client.config.client_side_validation && blob_id.nil?
        fail ArgumentError, "Missing the required parameter 'blob_id' when calling MediaApi.list_media_frames"
      end
      # resource path
      local_var_path = '/v1/media/{blob_id}/frames'.sub('{blob_id}', CGI.escape(blob_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'customer_id'] = opts[:'customer_id'] if !opts[:'customer_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<MediaFrame>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MediaApi.list_media_frames",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#list_media_frames\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Whisper transcript segments for a parent blob (audio or video)
    # @param blob_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id 
    # @option opts [String] :authorization 
    # @return [Array<TranscriptSegment>]
    def list_media_transcript(blob_id, opts = {})
      data, _status_code, _headers = list_media_transcript_with_http_info(blob_id, opts)
      data
    end

    # Whisper transcript segments for a parent blob (audio or video)
    # @param blob_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :customer_id 
    # @option opts [String] :authorization 
    # @return [Array<(Array<TranscriptSegment>, Integer, Hash)>] Array<TranscriptSegment> data, response status code and response headers
    def list_media_transcript_with_http_info(blob_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.list_media_transcript ...'
      end
      # verify the required parameter 'blob_id' is set
      if @api_client.config.client_side_validation && blob_id.nil?
        fail ArgumentError, "Missing the required parameter 'blob_id' when calling MediaApi.list_media_transcript"
      end
      # resource path
      local_var_path = '/v1/media/{blob_id}/transcript'.sub('{blob_id}', CGI.escape(blob_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'customer_id'] = opts[:'customer_id'] if !opts[:'customer_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TranscriptSegment>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MediaApi.list_media_transcript",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#list_media_transcript\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
